body, html { height:100%; padding:0; margin:0;}

.ui-widget,.ui-widget .ui-widget {
	font-size: 90% !important;
}

/*custom layout unit for Visualizer logo. Header should not be visible.*/
.custom .ui-layout-unit-header {
	font-size: 0%;
	border: 0px solid #d4ccb0
}


/*centered no border*/
.tableBrokersPanel.ui-panel{
	margin-left: auto;
	margin-right: auto;
	width:500px;
	border: 0;
}

.noBorderPanel.ui-panel{
	border:0;
}

.noBackground.ui-panel{
	background-image: none;
}

.ui-sortable-column-icon{
visibility: hidden;
}

.update{
	
}

.specificClearing{
	
}

.customerChart{
	height:250px;
	width:700px;
	margin-top:20px"
}

.label{
	font-weight:bold;
}

.updateInvisiblePanel{
	background-image: none;
	border:0;
	
}