.statusIcon{
	font-size: 1.2em; 
	margin: 0.2em;
	color: white;
}

.bigStatusIcon{
	font-size: 3.4em; 
	margin: 0 em;
	color: white;
	display: inline;
}

.bigStatusText{
	font-size: 3.7em; 
	padding: 0.5em;
	color: white;
	display: inline;
}

.normalStatusText{
	font-size: 2em; 
	padding: 0.5em;
	color: white;
	display: inline;
}

.weatherText{
	font-size: 1.8em; 
	padding: 0.1em;
	color: white;
	display: inline;
}

.weatherIcon{
	font-size: 3.1em; 
	padding: 0.0em;
	color: white;
	display: inline;
}

.arrow{
	font-size: 2.5em; 
	padding: 0.0em;
	color: white;
	display: inline;
}

.margin10{
	padding-top:25px;
}

.tile.last{
	margin: 0 0px 0px 0!important;
}
.tile{
margin: 0 8px 10px 0!important;
}

table.bordered tbody tr:last-child td {
	border-bottom: 1px #ddd solid!important;
}
.tile.double.custom{
	width: 308px!important;
}