# Editor etc
**/*~
**/*.swp
**/*.bak

# Mobile Tools for Java (J2ME)
**/.mtj.tmp/

# Package Files #
**/*.jar
**/*.war
**/*.ear

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
**/hs_err_pid*

# Build artifacts
**/bin/
**/*.class

# Run artifacts
**/log/
**/*.log

# Release artifacts
**/release.properties
**/pom.xml.releaseBackup

# Maven artifacts
**/target/

# Eclipse artifacts
**/.project
**/.classpath
**/.factorypath
**/.settings/
**/.attach*

# IDEA artifacts
.idea/
**/*.iml
**/*.iws
**/*.ipr
**/*.ids
**/*.orig

# OS artifacts
**/.DS_Store
**/Thumbs.db
**/Desktop.ini


