[submodule "server-interface"]
	path = server-interface
	url = git://github.com/powertac/server-interface.git
[submodule "accounting"]
	path = accounting
	url = git://github.com/powertac/accounting.git
[submodule "auctioneer"]
	path = auctioneer
	url = git://github.com/powertac/auctioneer.git
[submodule "default-broker"]
	path = default-broker
	url = git://github.com/powertac/default-broker.git
[submodule "distribution-utility"]
	path = distribution-utility
	url = git://github.com/powertac/distribution-utility.git
[submodule "genco"]
	path = genco
	url = git://github.com/powertac/genco.git
[submodule "household-customer"]
	path = household-customer
	url = git://github.com/powertac/household-customer.git
[submodule "factored-customer"]
	path = factored-customer
	url = git://github.com/powertac/factored-customer.git
[submodule "server-main"]
	path = server-main
	url = git://github.com/powertac/server-main.git
[submodule "officecomplex-customer"]
	path = officecomplex-customer
	url = git://github.com/powertac/officecomplex-customer.git
[submodule "visualizer"]
	path = visualizer
	url = git://github.com/powertac/visualizer.git
[submodule "balancing-market"]
	path = balancing-market
	url = git://github.com/powertac/balancing-market.git
[submodule "customer-models"]
	path = customer-models
	url = git@github.com:powertac/customer-models.git
