[submodule "server-interface"]
    path = server-interface
    url = https://github.com/powertac/server-interface.git
    branch = master
[submodule "genco"]
    path = genco
    url = https://github.com/powertac/genco.git
    branch = master
[submodule "household-customer"]
    path = household-customer
    url = https://github.com/powertac/household-customer.git
    branch = master
[submodule "factored-customer"]
    path = factored-customer
    url = https://github.com/powertac/factored-customer.git
    branch = master
[submodule "server-main"]
    path = server-main
    url = https://github.com/powertac/server-main.git
    branch = master
[submodule "officecomplex-customer"]
    path = officecomplex-customer
    url = https://github.com/powertac/officecomplex-customer.git
    branch = master
[submodule "visualizer"]
    path = visualizer
    url = https://github.com/powertac/visualizer.git
    branch = master
[submodule "evcustomer"]
    path = evcustomer
    url = https://github.com/powertac/evcustomer.git
    branch = master
[submodule "logtool-core"]
	path = logtool-core
	url = https://github.com/powertac/logtool-core.git
[submodule "visualizer2"]
	path = visualizer2
	url = https://github.com/powertac/visualizer2.git
