<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" strict="true" shutdownHook="disable"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://xlarge.rsm.nl/xsd/Log4j-config.xsd">
  <Properties>
    <Property name="logfile">log/init.trace</Property>
  </Properties>
  
  <ThresholdFilter level="trace"/>
  
  <Appenders>
    <Appender name="LogFile" type="File" fileName="log/logtool.trace" append="false">
      <Layout type="PatternLayout" pattern="%r %-5p %c{2}: %m%n"/>
    </Appender>
  </Appenders>
  
  <Loggers>

    <Logger name="Log" level="info" additivity="false">
      <AppenderRef ref="LogFile"/>
    </Logger>

    <!-- Higher threshold for framework packages -->
    <Logger name="org.springframework" level="warn" additivity="false">
      <AppenderRef ref="LogFile" />
    </Logger>
    <Logger name="org.apache" level="warn" additivity="false">
      <AppenderRef ref="LogFile" />
    </Logger>
    <Logger name="org.powertac.common.XMLMessageConverter" level="warn">
      <AppenderRef ref="LogFile" />
    </Logger>

    <Root level="info">
      <AppenderRef ref="LogFile"/>
    </Root>

  </Loggers>

</Configuration>
