
<div>
    <h2><span>View</span> {{vm.view.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{vm.view.name}}</span>
        </dd>
        <dt><span>Graphs</span></dt>
        <dd>
            <span>{{vm.view.graphs}}</span>
        </dd>
        <dt><span>Shared</span></dt>
        <dd>
            <span>{{vm.view.shared}}</span>
        </dd>
        <dt><span>Owner</span></dt>
        <dd>
            {{vm.view.owner.login}}
        </dd>
        <dt><span>Chart</span></dt>
        <dd>
            <a ui-sref="chart-detail({id:vm.view.chart.id})">{{vm.view.chart.name}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="view-detail.edit({id:vm.view.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
