<form name="filepickForm" ng-submit="vm.submit()">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="vm.cancel()">&times;</button>
    <h4 class="modal-title">Pick the {{vm.fileType}} file</h4>
  </div>
  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <p>Please pick the {{vm.fileType}} file you wish to use:</p>
    <table st-table="vm.displayedCollection" st-safe-src="vm.filesCollection" class="table table-striped">
      <thead>
      <tr>
        <th colspan="12">
          <input st-search="" class="form-control" id="fileNameFilter" type="text"
                 placeholder="filter {{vm.displayedCollection.length}} files ..." />
        </th>
      </tr>
      <tr>
        <th colspan="7" st-sort="path">
          Name
          <a href="" ng-click="vm.refresh()">
            <i class="glyphicon glyphicon-refresh"></i>
          </a>
        </th>
        <th colspan="4">
          Owner
        </th>
        <th colspan="1">
          Shared
        </th>
      </tr>
      </thead>

      <tbody>
        <tr ng-if="vm.displayedCollection.length === 0">
          <td colspan=""12>No {{vm.fileType}} files available;
            upload using the <a class="alert-link" ui-sref="files" ng-click="vm.cancel()">Files</a> tab.
          </td>
        </tr>
        <tr st-select-row="row" ng-repeat="row in vm.displayedCollection" ng-click="vm.select(row)">
          <td colspan="7">{{row.name}}</td>
          <td colspan="4">{{row.owner.login}}</td>
          <td colspan="1"><input type="checkbox" disabled ng-checked="{{row.shared}}" /></td>
        </tr>
      </tbody>

      <tfoot>
      <tr>
        <td colspan="12" class="text-center">
          <div st-pagination="3" st-items-by-page="vm.itemsPerPage" st-displayed-pages="7"></div>
        </td>
      </tr>
      </tfoot>

    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.cancel()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
    </button>
    <button type="submit" ng-disabled="vm.selected == null" class="btn btn-primary">
      <span class="glyphicon glyphicon-ok-circle"></span>&nbsp;<span>Pick</span>
    </button>
  </div>
</form>