<div ng-cloak>
  <p class="">
    Game status:
    <a ui-sref="graphs" class="label label-{{vm.state.gameStatusStyle}}">
      {{vm.state.gameStatus || '(loading...)'}}
    </a>
  </p>

  <div ng-switch="vm.state.gameStatus">

    <div ng-switch-when="RUNNING">
      <p>
        Game <i>{{vm.state.gameName}}</i> is currently running -- You can view
        its progress <a class="alert-link" ui-sref="graphs">Graphs</a> pages.
      </p>
    </div>

    <div ng-switch-when="WAITING">
      <p>Game <i>{{vm.state.gameName}}</i> is currently waiting for brokers to connect.</p>
    </div>

    <div ng-switch-when="FAILED">
      <p>Oops, something has gone wrong! Check the console for more info.</p>
    </div>

    <div ng-switch-default>
      <h2>Create New Game</h2>
      <br />

      <form name="newGameForm" class="form-horizontal">
        <fieldset>
          <div class="form-group">
            <label class="col-md-3">Select the kind of game you want:</label>

            <div class="col-md-9">
              <div class="radio radio-primary">
                <label>
                  <input type="radio" ng-click="vm.setMode('BOOT')" ng-checked="vm.mode === 'BOOT'" />
                  I want to run a bootstrap game so I can use its output file for a simulation game.
                </label>
              </div>
              <div class="radio radio-primary">
                <label>
                  <input type="radio" ng-click="vm.setMode('SIM')" ng-checked="vm.mode === 'SIM'" />
                  I want to run a simulation game with brokers.
                </label>
              </div>
              <div class="radio radio-primary">
                <label>
                  <input type="radio" ng-click="vm.setMode('REPLAY')" ng-checked="vm.mode === 'REPLAY'" />
                  I want to replay an old game from its state log.
                </label>
              </div>
            </div>
          </div>

          <div class="form-group" ng-show="vm.mode === 'SIM' || vm.mode === 'BOOT'">
            <br />
            <label class="col-md-3">Enter game name (required):</label>

            <div class="col-md-9">
              <div class="form-inline">
                <input class="form-control" id="gameName" ng-model="vm.gameNameTemp"
                       placeholder="Enter game name ..."
                       ng-keyup="$event.keyCode === 13 && vm.setGameName(vm.gameNameTemp)"
                       ng-blur="vm.setGameName(vm.gameNameTemp)" />
                <span ng-switch="vm.gameName.length > 0">
                    <span ng-switch-when="false">
                      <button type="button" class="btn btn-default" ng-disabled="!vm.gameNameTemp"
                              ng-click="vm.setGameName()">
                        <span class="glyphicon glyphicon-ok-circle"></span>
                        <span class="hidden-sm">Set</span>
                      </button>
                    </span>
                    <span ng-switch-when="true">
                      <button type="button" class="btn btn-default"
                              ng-click="vm.setGameName('')">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                        <span class="hidden-sm">Clear</span>
                      </button>
                    </span>
                </span>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="vm.overwrite" />
                  Overwrite if a game with this name already exists
                </label>
              </div>
            </div>
          </div>

          <div class="form-group" ng-show="vm.mode === 'SIM' && vm.gameName">
            <br />
            <label class="col-md-3">Add brokers (at least 1 required):</label>

            <div class="col-md-9">

              <table>
                <tbody>
                  <tr ng-repeat="broker in vm.brokerCollection">
                    <td class="form-inline">
                      <input class="form-control" ng-disabled="true" value="{{broker}}" />
                      <button type="button" class="btn btn-default"
                              ng-click="vm.removeBroker(broker)">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                        <span class="hidden-sm">Clear</span>
                      </button>
                    </td>
                  </tr><tr>
                    <td class="form-inline">
                      <input class="form-control" id="brokerInput" ng-model="vm.brokerName"
                             placeholder="Enter broker name ..."
                             ng-pattern="/^[a-zA-Z0-9\\-_]*$/"
                             ng-keyup="$event.keyCode === 13 && vm.brokerName && vm.addBroker(vm.brokerName)" />
                      <button type="button" class="btn btn-default" ng-disabled="!vm.brokerName"
                              ng-click="vm.addBroker(vm.brokerName)">
                        <span class="glyphicon glyphicon-ok-circle"></span>
                        <span class="hidden-sm">Add</span>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>

          <div ng-show="vm.mode === 'SIM' && vm.brokerCollection.length">
            <br />
            <div class="form-group">
              <label class="col-md-3" for="bootFileInput">
                Your boot file (required):
              </label>
              <div class="col-md-8 form-inline">
                <input id="bootFileInput" class="form-control" disabled=""
                       ng-model="vm.getFile('boot').name"
                       placeholder="(No boot file selected)" />
                <span ng-switch="vm.getFile('boot') === null">
                  <span ng-switch-when="true">
                    <button type="button" class="btn btn-default"
                            ui-sref="games.filepicker({fileType:'boot'})">
                      <span class="glyphicon glyphicon-ok-circle"></span>
                      <span class="hidden-sm">Pick</span>
                    </button>
                  </span>
                  <span ng-switch-when="false">
                    <button type="button" class="btn btn-default"
                            ng-click="vm.clearFile('boot')">
                      <span class="glyphicon glyphicon-remove-circle"></span>
                      <span class="hidden-sm">Clear</span>
                    </button>
                  </span>
                </span>
              </div>
            </div>

          </div>

          <div ng-show="vm.gameName && ((vm.mode === 'BOOT') || (vm.mode === 'SIM' && vm.getFile('boot')))">
            <br />
            <div class="form-group">
              <label class="col-md-3" for="seedFileInput">
                Seed file (optional):
              </label>
              <div class="col-md-8 form-inline">
                <input id="seedFileInput" class="form-control" disabled=""
                       ng-model="vm.getFile('seed').name"
                       placeholder="(No seed file selected)" />
                <span ng-switch="vm.getFile('seed') === null">
                  <span ng-switch-when="true">
                    <button type="button" class="btn btn-default"
                            ui-sref="games.filepicker({fileType:'seed'})">
                      <span class="glyphicon glyphicon-ok-circle"></span>
                      <span class="hidden-sm">Pick</span>
                    </button>
                  </span>
                  <span ng-switch-when="false">
                    <button type="button" class="btn btn-default"
                            ng-click="vm.clearFile('seed')">
                      <span class="glyphicon glyphicon-remove-circle"></span>
                      <span class="hidden-sm">Clear</span>
                    </button>
                  </span>
                </span>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3" for="configFileInput">
                Configuration file (optional):
              </label>
              <div class="col-md-8 form-inline">
                  <input id="configFileInput" class="form-control" disabled=""
                          ng-model="vm.getFile('config').name"
                          placeholder="(No config file selected)" />
                <span ng-switch="vm.getFile('config') === null">
                  <span ng-switch-when="true">
                    <button type="button" class="btn btn-default"
                            ui-sref="games.filepicker({fileType:'config'})">
                      <span class="glyphicon glyphicon-ok-circle"></span>
                      <span class="hidden-sm">Pick</span>
                    </button>
                  </span>
                  <span ng-switch-when="false">
                    <button type="button" class="btn btn-default"
                            ng-click="vm.clearFile('config')">
                      <span class="glyphicon glyphicon-remove-circle"></span>
                      <span class="hidden-sm">Clear</span>
                    </button>
                  </span>
                </span>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3" for="weatherFileInput">
                Weather file (optional):
              </label>
              <div class="col-md-8 form-inline">
                <input id="weatherFileInput" class="form-control" disabled=""
                        ng-model="vm.getFile('weather').name"
                        placeholder="(No weather file selected)"/>
                <span ng-switch="vm.getFile('weather') === null">
                  <span ng-switch-when="true">
                    <button type="button" class="btn btn-default"
                            ui-sref="games.filepicker({fileType:'weather'})">
                      <span class="glyphicon glyphicon-ok-circle"></span>
                      <span class="hidden-sm">Pick</span>
                    </button>
                  </span>
                  <span ng-switch-when="false">
                    <button type="button" class="btn btn-default"
                            ng-click="vm.clearFile('weather')">
                      <span class="glyphicon glyphicon-remove-circle"></span>
                      <span class="hidden-sm">Clear</span>
                    </button>
                  </span>
                </span>
              </div>
            </div>

          </div>

          <div ng-show="vm.mode === 'REPLAY'">
            <br />
            <div class="form-group">
              <label class="col-md-3">Select the source for game replay:</label>

              <div class="col-md-9">
                <div class="radio radio-primary">
                  <label>
                    <input type="radio" ng-click="vm.setSource('INTERNAL')" ng-checked="vm.replaySource === 'INTERNAL'" />
                    I want to select an internal state file.
                  </label>
                </div>
                <div class="radio radio-primary">
                  <label>
                    <input type="radio" ng-click="vm.setSource('EXTERNAL')" ng-checked="vm.replaySource === 'EXTERNAL'" />
                    I want to provide an URL to an external state file (archive).
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group" ng-show="vm.replaySource === 'INTERNAL'">
              <br />
              <label class="col-md-3" for="stateFileInput">
                Your state file (required):
              </label>
              <div class="col-md-8 form-inline">
                <input id="stateFileInput" class="form-control" disabled=""
                       ng-model="vm.getFile('state').name"
                       placeholder="(No state file selected)" />
                <span ng-switch="vm.getFile('state') === null">
                  <span ng-switch-when="true">
                    <button type="button" class="btn btn-default"
                            ui-sref="games.filepicker({fileType:'state'})">
                      <span class="glyphicon glyphicon-ok-circle"></span>
                      <span class="hidden-sm">Pick</span>
                    </button>
                  </span>
                  <span ng-switch-when="false">
                    <button type="button" class="btn btn-default"
                            ng-click="vm.clearFile('state')">
                      <span class="glyphicon glyphicon-remove-circle"></span>
                      <span class="hidden-sm">Clear</span>
                    </button>
                  </span>
                </span>
              </div>
            </div>

            <div class="form-group" ng-show="vm.replaySource === 'EXTERNAL'">
              <br />
              <label class="col-md-3" for="replayUrlInput">
                The URL to your state file (required):
              </label>
              <div class="col-md-9">
                <div class="form-inline">
                  <input class="form-control" id="replayUrlInput" ng-model="vm.replayUrlTemp"
                         placeholder="Enter URL of state file (archive) ..." style="width:80%"
                         ng-keyup="$event.keyCode === 13 && vm.setReplayUrl(vm.replayUrlTemp)"
                         ng-blur="vm.setReplayUrl(vm.replayUrlTemp)" />
                  <span ng-switch="vm.replayUrl.length > 0">
                    <span ng-switch-when="false">
                      <button type="button" class="btn btn-default" ng-disabled="!vm.replayUrlTemp"
                              ng-click="vm.setReplayUrl()">
                        <span class="glyphicon glyphicon-ok-circle"></span>
                        <span class="hidden-sm">Set</span>
                      </button>
                    </span>
                    <span ng-switch-when="true">
                      <button type="button" class="btn btn-default"
                              ng-click="vm.setReplayUrl('')">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                        <span class="hidden-sm">Clear</span>
                      </button>
                    </span>
                 </span>
                </div>
              </div>
            </div>
          </div>

          <!-- Big bad start button -->
          <br />
          <button type="button" class="btn btn-lg btn-block btn-raised btn-success"
                  ng-show="!vm.isStartButtonDisabled()"
                  ng-click="vm.start()">
            <span>Start game</span>
          </button>

        </fieldset>

      </form>

    </div>
    <!-- Big bad stop button -->
    <button type="button" class="btn btn-lg btn-block btn-raised btn-danger"
            ng-show="!vm.isStopButtonDisabled()"
            ng-click="vm.stop()">
      <span>Stop game</span>
    </button>
  </div>

  <br />
  <jhi-alert></jhi-alert>
  <jhi-alert-error></jhi-alert-error>

</div>

