<div ng-cloak>
    <p class="">
        Game status:
        <span class="label label-{{vm.state.gameStatusStyle}}">
            {{vm.state.gameStatus || '(loading...)'}}
        </span>
    </p>

    <div ng-switch="vm.state.gameStatus">
        <div ng-switch-when="IDLE">
            <p>No game is currently running.</p>
            <p ng-show="{{CONFIG.mode!=='tournament'}}">
                You can start one in the <a class="alert-link" ui-sref="games">Games</a> tab.
            </p>
        </div>

        <div ng-switch-when="WAITING">
            <p>Game <i>{{vm.state.gameName}}</i> is currently waiting for brokers to connect.</p>
        </div>

        <div ng-switch-when="FAILED">
            <p>Oops, something has gone wrong! Check the console for more info.</p>
        </div>

        <div ng-switch-default>
            <h2>Current Game: {{vm.state.gameName || 'N/A'}}</h2>
            <p class="lead">Current Time: {{vm.state.timeString}}</p>

            <div class="row">
                <div class="col-md-1 broker broker-{{vm.state.brokers[$index].enabled ? 'enabled' : 'disabled'}}"
                     ng-click="vm.toggleBroker($index)"
                     ng-repeat="broker in vm.state.brokers">
                    <span style="color:{{vm.colors[$index % vm.colors.length]}};"
                              ng-bind-html="vm.symbolMap[vm.symbols[$index % vm.symbols.length]]"></span>
                    <br />
                    <span>
                        {{broker.name.replace(' ', '&nbsp;')}}
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h2>Money</h2>
                    <p class="lead">Cumulative</p>
                    <highchart config="vm.graphs.allMoneyCumulative"
                               change-detection="vm.changeDetection['allMoneyCumulative']"
                               class="col-md-12 highchart"></highchart>
                </div>
            </div>

            <div class="row">
                <hr />
                <div class="col-md-12">
                    <ul class="nav nav-pills">
                        <li role="presentation" class="{{vm.tab === 'retail' ? 'active' : ''}}">
                            <a ng-click="vm.tab = 'retail'">Retail</a>
                        </li>
                        <li role="presentation" class="{{vm.tab === 'wholesale' ? 'active' : ''}}">
                            <a ng-click="vm.tab = 'wholesale'">Wholesale</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div ng-show="vm.tab === 'retail'">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Retail Money</h2>
                        <p class="lead">Per time slot</p>
                        <highchart config="vm.graphs.retailMoney"
                                   change-detection="vm.changeDetection['retailMoney']"
                                   class="col-md-12 highchart"></highchart>
                    </div>
                    <div class="col-md-6">
                        <h2>Retail Money</h2>
                        <p class="lead">Cumulative Money</p>
                        <highchart config="vm.graphs.retailMoneyCumulative"
                                   change-detection="vm.changeDetection['retailMoneyCumulative']"
                                   class="col-md-12 highchart"></highchart>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h2>Retail Energy</h2>
                        <p class="lead">Per time slot kWh</p>
                        <highchart config="vm.graphs.retailKwh"
                                   change-detection="vm.changeDetection['retailKwh']"
                                   class="col-md-12 highchart"></highchart>
                    </div>
                    <div class="col-md-6">
                        <h2>Retail Energy</h2>
                        <p class="lead">Cumulative kWh</p>
                        <highchart config="vm.graphs.retailKwhCumulative"
                                   change-detection="vm.changeDetection['retailKwhCumulative']"
                                   class="col-md-12 highchart"></highchart>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h2>Subscriptions</h2>
                        <p class="lead">Per time slot</p>
                        <highchart config="vm.graphs.retailSubscription"
                                   change-detection="vm.changeDetection['retailSubscription']"
                                   class="col-md-12 highchart"></highchart>
                    </div>
                    <div class="col-md-6">
                        <h2>Subscriptions</h2>
                        <p class="lead">Cumulative subscriptions</p>
                        <highchart config="vm.graphs.retailSubscriptionCumulative"
                                   change-detection="vm.changeDetection['retailSubscriptionCumulative']"
                                   class="col-md-12 highchart"></highchart>
                    </div>
                </div>
            </div>

            <div ng-show="vm.tab === 'wholesale'">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Wholesale Money</h2>
                        <p class="lead">Per time slot</p>
                        <highchart config="vm.graphs.wholesaleMoney"
                                   change-detection="vm.changeDetection['wholesaleMoney']"
                                   class="col-md-12 highchart"></highchart>
                    </div>
                    <div class="col-md-6">
                        <h2>Wholesale Money</h2>
                        <p class="lead">Cumulative Money</p>
                        <highchart config="vm.graphs.wholesaleMoneyCumulative"
                                   change-detection="vm.changeDetection['wholesaleMoneyCumulative']"
                                   class="col-md-12 highchart"></highchart>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h2>Wholesale Energy</h2>
                        <p class="lead">Per time slot MWh</p>
                        <highchart config="vm.graphs.wholesaleMwh"
                                   change-detection="vm.changeDetection['wholesaleMwh']"
                                   class="col-md-12 highchart"></highchart>
                    </div>
                    <div class="col-md-6">
                        <h2>Wholesale Energy</h2>
                        <p class="lead">Cumulative MWh</p>
                        <highchart config="vm.graphs.wholesaleMwhCumulative"
                                   change-detection="vm.changeDetection['wholesaleMwhCumulative']"
                                   class="col-md-12 highchart"></highchart>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h2>Wholesale Mean Buying Price</h2>
                        <p class="lead">Per MWh</p>
                        <highchart config="vm.graphs.wholesalePriceBuy"
                                   change-detection="vm.changeDetection['wholesalePriceBuy']"
                                   class="col-md-12 highchart"></highchart>
                    </div>
                    <div class="col-md-6">
                        <h2>Wholesale Mean Selling Price</h2>
                        <p class="lead">Per MWh</p>
                        <highchart config="vm.graphs.wholesalePriceSell"
                                   change-detection="vm.changeDetection['wholesalePriceSell']"
                                   class="col-md-12 highchart"></highchart>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h2>Wholesale Mean Overall Price</h2>
                        <p class="lead">Per MWh</p>
                        <highchart config="vm.graphs.wholesalePrice"
                                   change-detection="vm.changeDetection['wholesalePrice']"
                                   class="col-md-12 highchart"></highchart>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br />
    <jhi-alert></jhi-alert>
</div>
