<div ng-cloak>
  <form id="fileForm" name="fileForm" class="form-horizontal">
    <fieldset>
      <div class="form-group">
        <label class="col-md-1" for="fileUpload">Upload:</label>

        <div class="col-md-11 form-inline">
          <input type="text" disabled="" class="form-control" ng-model="vm.uploadFile.name" placeholder="No file selected" />
          <file-field id="fileUpload" class="btn btn-default" ng-model="vm.uploadFile">Browse</file-field>
          <select class="form-control" ng-model="vm.uploadType" ng-show="vm.uploadFile != null" >
            <option value="" disabled>Select type</option>
            <option value="boot">BOOT</option>
            <option value="state">STATE</option>
            <option value="seed">SEED</option>
            <option value="config">CONFIG</option>
            <option value="weather">WEATHER</option>
          </select>
          <label ng-show="vm.uploadFile != null && vm.uploadType" class="btn btn-default">
            <input type="checkbox" ng-model="vm.uploadShared" autocomplete="off" /> Shared
          </label>
          <label ng-show="vm.uploadFile != null && vm.uploadType" class="btn btn-default">
            <input type="checkbox" ng-model="vm.uploadOverwrite" autocomplete="off" /> Overwrite
          </label>
          <a class="btn btn-default" href="" ng-click="vm.doUpload()" ng-show="vm.uploadFile != null && vm.uploadType">
            <span class="glyphicon glyphicon-upload"></span>
            <span class="hidden-sm">Upload</span>
          </a>
          <p class="help-block">
            Select a file from your local machine, indicate what type of file it is, and hit "Upload".
          </p>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group">
        <label class="col-md-1" for="fileNameFilter">Download:</label>

        <div class="col-md-11">
          <table st-table="vm.displayedCollection" st-safe-src="vm.filesCollection" class="table table-striped"
                 ng-switch="vm.displayedCollection.length > 0">
            <thead ng-switch-when="true">
              <tr>
                <th colspan="12">
                  <input st-search="" class="form-control" id="fileNameFilter" type="text"
                         placeholder="filter (e.g 'boot') from {{vm.displayedCollection.length}} files ..." />
                </th>
              </tr>
              <tr>
                <th colspan="5" st-sort="path">
                  Name
                </th>
                <th colspan="1">
                  Type
                </th>
                <th colspan="2">
                  Owner
                </th>
                <th colspan="1">
                  Shared
                </th>
                <th colspan="2">
                  Date
                </th>
                <th colspan="1">
                  &nbsp;
                </th>
              </tr>
            </thead>

            <tbody>
              <tr ng-switch-when="false">
                <td colspan=""12>No files available; use the Upload feature above.</td>
              </tr>
              <tr ng-repeat="row in vm.displayedCollection" ng-switch-when="true">
                <td colspan="5">{{row.name}}</td>
                <td colspan="1">{{row.type}}</td>
                <td colspan="2">{{row.owner.login}}</td>
                <td colspan="1"><input type="checkbox" disabled ng-checked="{{row.shared}}" /></td>
                <td colspan="2">{{row.date | date : 'MMM d, y H:mm:ss'}}</td>
                <td colspan="1">
                  <a class="btn btn-default" href="" ng-click="vm.doDownload(row.type, row.id)">
                    <span class="glyphicon glyphicon-download"></span>
                    <span class="hidden-sm">Download</span>
                  </a>
                </td>
              </tr>
            </tbody>

            <tfoot>
              <tr>
                <td colspan="12" class="text-center">
                  <div st-pagination="3" st-items-by-page="vm.itemsPerPage" st-displayed-pages="7"></div>
                </td>
              </tr>
            </tfoot>

          </table>

          <a class="btn btn-default" ng-click="vm.refreshFiles()">
            Refresh <i class="glyphicon glyphicon-refresh"></i>
          </a>

        </div>

      </div>
    </fieldset>
  </form>
  <br />
  <jhi-alert></jhi-alert>
</div>