
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myGameLabel">Create or edit a Game</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.game.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.game.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_type">Type</label>
            <select class="form-control" name="type" ng-model="vm.game.type" id="field_type" required>
                <option value="BOOT">BOOT</option>
                <option value="SIM">SIM</option>
            </select>
            <div ng-show="editForm.type.$invalid">
                <p class="help-block"
                    ng-show="editForm.type.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.game.name"
                    required ng-minlength="1" ng-maxlength="255"/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.minlength" translate-value-min="1">
                    This field is required to be at least 1 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_shared">Shared</label>
            <input type="checkbox" class="form-control" name="shared" id="field_shared"
                    ng-model="vm.game.shared"
                    />
            <div ng-show="editForm.shared.$invalid">
                <p class="help-block"
                    ng-show="editForm.shared.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_date">Date</label>
                <div class="input-group">
                    <input id="field_date" type="text" class="form-control" name="date" datetime-picker="{{dateformat}}" ng-model="vm.game.date" is-open="vm.datePickerOpenStatus.date"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_brokers">Brokers</label>
            <input type="text" class="form-control" name="brokers" id="field_brokers"
                    ng-model="vm.game.brokers"
                    ng-maxlength="4095"/>
            <div ng-show="editForm.brokers.$invalid">
                <p class="help-block"
                    ng-show="editForm.brokers.$error.maxlength">
                    This field cannot be longer than 4095 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_owner">Owner</label>
            <select class="form-control" id="field_owner" name="owner" ng-model="vm.game.owner" ng-options="user as user.login for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_traceFile">Trace File</label>
            <select class="form-control" id="field_traceFile" name="traceFile" ng-model="vm.game.traceFile" ng-options="file as file.id for file in vm.files track by file.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_stateFile">State File</label>
            <select class="form-control" id="field_stateFile" name="stateFile" ng-model="vm.game.stateFile" ng-options="file as file.id for file in vm.files track by file.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_seedFile">Seed File</label>
            <select class="form-control" id="field_seedFile" name="seedFile" ng-model="vm.game.seedFile" ng-options="file as file.id for file in vm.files track by file.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_bootFile">Boot File</label>
            <select class="form-control" id="field_bootFile" name="bootFile" ng-model="vm.game.bootFile" ng-options="file as file.id for file in vm.files track by file.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_configFile">Config File</label>
            <select class="form-control" id="field_configFile" name="configFile" ng-model="vm.game.configFile" ng-options="file as file.id for file in vm.files track by file.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_weatherFile">Weather File</label>
            <select class="form-control" id="field_weatherFile" name="weatherFile" ng-model="vm.game.weatherFile" ng-options="file as file.id for file in vm.files track by file.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
