<div>
    <h2>Games</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="game.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Game
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="type"><span>Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span>Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="shared"><span>Shared</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="date"><span>Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="brokers"><span>Brokers</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="owner.login"><span>Owner</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="traceFile.id"><span>Trace File</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="stateFile.id"><span>State File</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="seedFile.id"><span>Seed File</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bootFile.id"><span>Boot File</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="configFile.id"><span>Config File</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="weatherFile.id"><span>Weather File</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="game in vm.games track by game.id">
                    <td><a ui-sref="game-detail({id:game.id})">{{game.id}}</a></td>
                    <td>{{game.type}}</td>
                    <td>{{game.name}}</td>
                    <td>{{game.shared}}</td>
                    <td>{{game.date | date:'medium'}}</td>
                    <td>{{game.brokers}}</td>
                    <td>
                        {{game.owner.login}}
                    </td>
                    <td>
                        <a ui-sref="file-detail({id:game.traceFile.id})">{{game.traceFile.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="file-detail({id:game.stateFile.id})">{{game.stateFile.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="file-detail({id:game.seedFile.id})">{{game.seedFile.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="file-detail({id:game.bootFile.id})">{{game.bootFile.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="file-detail({id:game.configFile.id})">{{game.configFile.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="file-detail({id:game.weatherFile.id})">{{game.weatherFile.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="game-detail({id:game.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="game.edit({id:game.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="game.delete({id:game.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
