 *{ margin:0; padding:0; }
	    body { text-align: center;}
			#wrapper{ margin:0px auto; width:1000px; border-radius: 0.5em 0.5em 0.5em 0.5em;}
			#content{ position:relative; width:1000px; height:700px; top:30px; overflow:hidden; border:5px solid #f5f5f5; background: url('images/gameoverview/scene.png'); }
						
			#broker8{  left: 0px; z-index:1; }
			#broker6{  left: 105px; z-index:1; }
			#broker4{  left: 210px; z-index:1; }
			#broker2{  left: 315px; z-index:1; }
			#broker1{  left: 420px; z-index:1; }
			#broker3{  left: 525px; z-index:1; }
			#broker5{  left: 630px; z-index:1; }
			#broker7{  left: 735px; z-index:1; }
			#broker9{  left: 840px; z-index:1; }
			
			#customers{ position:absolute; top:600px; left: 400px; z-index:30; }
			#tariffMarket{position:absolute; top:425px; left: 450px; z-index:30;}
			#distributionUtility{position:absolute; top:0px; left: 400px; z-index:30;}
			#accountingService{position:absolute; top:0px; left: 0px; z-index:30;}
			
			#info{position:absolute; top:0px; left: 900px; z-index:30;}
			
		/*	img.brokerImg {width:80px;height:80px; }  */
			div.brokerDiv {width:105px;height:120px; position:absolute; top:250px; visibility:hidden;font-size: 80%;font-weight:bold;}
			
		/*	img.customersImg {width:200px;height:80px;} */
			div.customersDiv {width:200px;height:125px; font-size: 110%;font-weight:bold;}
			
		/*	img.tariffMarketImg {width:100px;height:80px;}  */
			div.tariffMarketDiv {width:100px;height:100px; font-size: 105%;font-weight:bold;}
			
		/*	img.distributionUtilityImg {width:150px;height:75px;}  */
			div.distributionUtilityDiv {width:200px;height:100px;font-size: 105%;font-weight:bold;}
			
		/*	img.accountingServiceImg {width:100px;height:100px;} */
			div.accountingServiceDiv {width:120px;height:150px;font-size: 105%;font-weight:bold;}
			
			div.infoDiv {width:60px;background-color:#CC0000;border:3px solid #000000; border-radius: 1em 0.5em 1em 0.5em;color:white;font-size: 140%;font-weight:bold;}
			
			div.newTariffDiv {width:60px;height:60px; position:absolute; top:300px; left: -200px; z-index:10;visibility: hidden;border-radius: 0.5em 0.5em 0.5em 0.5em;font-size: 115%;font-weight:bold;background: url('images/gameoverview/scene.png');}
			
			div.signupCustomersDiv {width:60px;height:60px; position:absolute; top:300px; left: -200px; z-index:10;visibility: hidden;;border-radius: 0.5em 0.5em 0.5em 0.5em;font-size: 115%;font-weight:bold;background: url('images/gameoverview/scene.png');}
			div.withdrawCustomersDiv {width:60px;height:60px; position:absolute; top:300px; left: -200px;z-index:10;visibility: hidden;;border-radius: 0.5em 0.5em 0.5em 0.5em;font-size: 115%;font-weight:bold;background: url('images/gameoverview/scene.png');}
			
			div.cashBalanceDiv {width:100px;height:60px; position:absolute; top:300px; left: -200px;z-index:10;visibility: hidden;border-radius: 0.5em 0.5em 0.5em 0.5em;font-size: 110%;font-weight:bold;background: url('images/gameoverview/scene.png');}
			
			div.balancingTransactionDiv {width:100px;height:75px; position:absolute; top:300px; left: -200px;z-index:31;visibility: hidden;border-radius: 0.5em 0.5em 0.5em 0.5em;font-size: 105%;font-weight:bold;background: url('images/gameoverview/scene.png');}
			